/* inter-regular - cyrillic_cyrillic-ext_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v13-cyrillic_cyrillic-ext_greek-ext_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body, html {
    width: 100%;
    height: 100%;
    background-color: #050505;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper {
    width: calc(100% - 40px);
    background-color: #1B1F27;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 0 20px;
    margin-top: 20px;
}
.clear {
    background-color: #050505;
}
.trippleround {
    position: relative;
}
.trippleround::after {
    content: '. . .';
    position: absolute;
    right: 28px;
    top: 18px;
    transform: rotate(90deg);
    color: #0885FA;
    font-size: 20px;
    font-weight: 900;
}
a {
    text-decoration: none;
}